/* Import a custom font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Apply the custom font to the body */
body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

/* Style the button */
button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#display-text{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}